

/* Mathematical spaces in the Calculations page */

div#math-space {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  max-width: 600px;
  width: 40%;
  max-height: 540px;
  
}

@media (max-width: 700px) {
  div#math-space {
    width: 90%;
    padding: 40px 20px;
}
  div#math-container {
    margin-top: 40px;
  }
}

@media (min-width: 968px) {
  div#math-space {
    width: 40%;
}

}

/* Mathematical inputs areas in the Calculations page */

input#input-areas {
  width: 300px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #142447;
  border-radius: 20px;
  transition :0.3s;
  text-align: center;
  margin: 5px;
  font-family: Tilt Neon;
  color: #003dc0;
}

textarea#input-areas {
  width: 300px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #142447;
  border-radius: 10px;
  padding: 10px ;
  transition :0.3s;
  margin: 5px;
  font-family: Tilt Neon;
  color: #003dc0;
}

input#input-areas:hover {
  background-color: rgb(226, 224, 224);
  border-color: #003dc0;
}

@media (max-width: 600px) {
 .note-message {
    max-width: 400px;
  } 
}
