html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  div#root {
    margin: 0;
    padding: 0;
  }

  body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
  }
  
  .pages {
    transition: 0.3s;
    animation: fadeIn 0.3s forwards;
  }
  
  /* Hero Stylings */
  
  div#hero {
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 825px;
    width: auto;
    background-size: cover;
    -webkit-text-fill-color: white;
  }
  
  div#hero img{
    filter: brightness(50%);
  }
  
  div#hero h1 {
    font-family: Poppins;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(15, 37, 233);
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 80px;
    animation: float 3s infinite ease-in-out;
  }
  
  @keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
  }
  
  div#hero p{
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  
  div#hero p{
    font-family: Tilt Neon;
    font-size: 20px;
    color: #555;
    margin-bottom: 50px;
  }
  
  button#cta-button {
    text-decoration: none;
    background: #003dc0;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: 0.3s;
    border: 2px solid gray;
    margin: 10px;
  }
  
  button#cta-button:hover {
    background-color: white;
    -webkit-text-fill-color: black;
    border: 2px solid black;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 800px) {
    div#hero {
      height: 600px;
      padding-top: 70px;
    }
    div#hero h1 {
      font-size: 40px;
      padding: 0px;
    }
    div#hero p {
      font-size: 18px;
      padding: 0px;
    }
    button#cta-button {
      padding: 5px 20px
    }
  }

  /* For the Special Cards */

  .special-card-icons {
    margin: 10px;
    width: 120px;
    height: auto;
  }

  /* Car Brands Cards stylings */

  div#car-brands-cards {
    display: flex;
    transition: 0.3s;
    background-color: transparent;
    border: none;
  }
  
  div#car-brands-cards img{
    transition: 0.3s;
    height: 150px;
    width: auto;
    padding: 3px;
  }
  
  @media (max-width: 700px) {
    div#car-brands-cards img{
      height: 110px;
      width: auto;
      padding: 5px;
    }
  }
  
  div#car-brands-cards img:hover{
    transform: scale(1.05); /* Slightly scales up the card */
  }
  
  h4#car-brand-name {
    color: rgb(51, 51, 51);
    transition: 0.3s;
  }
  
  @media (min-width: 368px) {
    h4#car-brand-name {
      line-height: 28px; /* Medium screens and larger */
    }
  }
  
  @media (min-width: 968px) {
    h4#car-brand-name {
      line-height: 18px; /* Medium screens and larger */
    }
  }
  
  h4#car-brand-name:hover {
    color: rgb(0, 65, 204);
  }

  .hour-glass {
    stroke: 3px;
    stroke: #000000;
    animation: shake 0.3s forwards ease-in-out 3;
    transition: 0.3s;
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(-20deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .coming-soon-box {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: le;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    min-width: 300px;
    width: auto;
    background-color: #f9f9f9;
    border-radius: 12px;
    font-family: Arial ,sans-serif;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.603);
    z-index: 999999;
    animation: popUp 0.3s forwards ease-in-out;
  }

  @keyframes popUp {
    0% {
      opacity: 0;
      transform: scale(0.9) translate(-50%, -50%);
    }
    75% {
      opacity: 1;
      transform: scale(1.02) translate(-50%, -50%);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate(-50%, -50%);
    }
  }

  @media (max-width: 700px) {
    .coming-soon-box {
      max-width: 350px;
      width: 300px;
    }
  }

  .coming-soon-box .gotcha-btn{
    border-radius: 10px;
    border: 3px solid green;
    color: rgb(6, 80, 6);
    font-weight: 600;
    transition: 0.3s;
  }

  .coming-soon-box .gotcha-btn:hover{
    background-color: green;
    border-color: gray;
    color: white;
  }

  .coming-soon-box .heading{
    color: #0650c0;
    font-weight: 700;
    font-size: 25px;
  }

  .coming-soon-box p{
    color: #000000;
    font-weight: 500;
  }

  .hrzntl-line {
    width: 100%;
    background-color: #c4c4c4;
    height: 2px;
    margin: 8px 0px;
  }

  .close-button {
    background-color: #38383800;
    border: none;
    color: black;
  }

  /* The Topic */

  h4#header-topic {
    color: rgb(6, 48, 107);
    font-size: 28px;
  }

  h3#header-topic {
    font-size: 30px;
  }

  @media (max-width: 700px) {
    h3#header-topic {
      font-size: 22px;
    }
  }

  @media (min-width: 992px) {
    h3#topic {
      margin-left: 200px;
    }
  }
  
  /*  Normal button stylings > A font that used > Righteous  */
  
  button#normal-button{
    margin-top: 50px;
    background-color: #003dc0;
    color: White;
    font-size: 20px;
    font-family: Tilt 'Times New Roman', Times, serif;
    border-radius: 30px;
    border: 3px solid rgb(13, 5, 129);
    font-weight: 500;
    transition: 0.3s;
    padding: 0px 20px;
  }
  button#normal-button:hover{
    background-color: white;
    color: rgb(14, 36, 109);
    border: 3px solid #003dc0;
    font-weight: 500;
  }
  
  button#normal-button-inverse {
    background-color: white;
    margin-top: 50px;
    color: #003dc0;
    font-size: 20px;
    font-family: Tilt 'Times New Roman', Times, serif;
    border-radius: 30px;
    border: 3px solid rgb(13, 5, 129);
    font-weight: 500;
    transition: 0.3s;
    padding: 0px 20px;
  }
  button#normal-button-inverse:hover {
    background-color: #003dc0;
    color: white;
    border: 3px solid rgb(14, 36, 109);
    font-weight: 500;
  }

  
/* Paragraph and Descriptions Stylings */

  p#description {
    color: black;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 40px;
    max-width: 1500px;
  }
  
  @media (max-width: 700px) {
    p#description {
      width: 100%;
      text-align: justify;
      hyphens: auto;
      font-size: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      margin: 0 auto;
    }
    button#normal-button {
      font-size: 16px;
      padding: 2px 12px;
      margin-top: 20px;
    }
    button#normal-button-inverse {
      font-size: 16px;
      padding: 2px 12px;
      margin-top: 20px;
    }
  }
  
  /* Special button stylings > A font that used > Righteous*/
  
  button#special-button{
    margin-top: 20px;
    background-color:  #ff1e4e;
    color: White;
    font-size: 22px;
    font-family: Tilt 'Times New Roman', Times, serif;
    border-radius: 40px;
    border: 2px solid white;
    transition: 0.3s;
    padding: 0px 10px;
  }
  button#special-button:hover{
    background-color: white;
    color: #ff1e4e;
    border-color: #ff1e4e;
  }
  
  /* Slide in Animations */
  
  .from-left {
    opacity: 0;
    transform: translateX(-90px);
    transition: opacitry 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .from-left.visible {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .from-right {
    opacity: 0;
    transform: translateX(90px);
    transition: opacitry 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .from-right.visible {
    opacity: 1;
    transform: translateX(0px);
  }

/* Sub Car Selling Cards in the sections stylings */

div#sub-car-selling-component {
    width: 350px;
    border-color: white;
    transition: 0.3s;
    padding: 10px;
    cursor: pointer;
  }
  
  div#sub-car-selling-component:hover {
    transform: scale(1.01); /* Slightly scales up the card */
  }

  @media (max-width: 700px) {
    
  div#sub-car-selling-component {
    width: 330px;
  }
  }

  /* Increase the scale of the image when hovering */

  .hovering-get-large {
    transition: 0.3s;
  }
  .hovering-get-large:hover {
    transform: scale(1.05); 
  }

  /* Creating The Styles of The Testimonial cards */
  
  div#testimonial-card {
    transition: 0.3s;
  }
  
  @media (max-width: 800px) {
    div#testimonial-card {
      width: 95%;
    }
  }
  
  div#testimonial-card:hover {
    transform: scale(1.02);
  }
  
  .testimonialCard {
    transition: 0.3s;
  }
  
  .testimonialCard:hover {
    box-shadow: 0 0 20px black;
  }

  /* Creating The Filter Dropdowns */
  div#dropdown-type-container {
    display: flex;
  }

  div#dropdown-button button{
    background-color: rgb(36, 36, 36);
    color: white;
    border-radius: 30px;
    font-size: 17px;
    border: 2px solid rgb(0, 68, 255);
    transition: 0.3s;
    padding: 1px 20px;
  }
  
  div#dropdown-button button:hover{
    background-color: white;
    color: black;
  }

  /* Image next to Paragraoh Styling */

@media (min-width: 1300px) {
  div#image-text-section h1 {
    width: 100%;
    font-size: 40px;
  }
}

/* In the home page */

@media (max-width: 600px) {
  img#image-paragraph-section {
    width: 400px;
  }
  div#dropdown-button button {
    padding: 0px 9px;
   }
}
  
  