
/* The input field for sending reviews */

@media (min-width: 700px) {
    .reviews-sending-text-area {
      min-width: 600px;
    }
  }
  
  /* For the collapsing content in the Single Product Page */
  
  div#collapse-container {
    transition: all 2s ease;
  }
  
  div#collapse-content {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  div#product-specific-tag {
    transition: 0.3s;
    border-radius: 8px;
  }
  
  div#product-specific-tag:hover {
    background-color: rgba(128, 157, 236, 0.342);
  }
  
  /* Styles of the Single Prpduct Image Slider */
  
  div#slideStyles {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
  }
  
  div#slideStyles.active {
    opacity: 1;
  }
  
  div#rightArrowStyles {
    transition: 0.3s;
  }
  div#rightArrowStyles:hover {
    -webkit-text-fill-color: rgb(255, 255, 255);
  }
  
  div#leftArrowStyles {
    transition: 0.3s;
  }
  
  div#leftArrowStyles:hover {
    -webkit-text-fill-color: rgb(255, 255, 255);
  }
  
  div#dotsContainerStyles {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  div#dotStyle {
    margin: 0 3px;
    cursor: pointer;
    font-size: 20px;
    transition: scale 100ms ease-in-out;
  }
  
  div#dotStyle:hover{
    scale: 1.2;
    color: black;
  }
  
  div#dotStyle:focus-visible {
    outline: blue;
  }
  
  .fade-container {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
  }
  
  .fade-container.show {
    opacity: 1;
    max-height: 1000px;
  }
  
  .fade-container.hide {
    opacity: 0;
    max-height: 0;
  }
  
  /* creating the scrolling animations */
  
  .hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
  }
  
  .show {
    opacity: 1;
    transform:  translateY(0);
  }

  /* The scrollable reviews reading container */

  .product-review-scroll-container::-webkit-scrollbar {
    background-color: rgb(216, 216, 216);
    border-radius: 15px;
    width: 9px;
  }

  .product-review-scroll-container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 15px;
  }

  .product-review-scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(70, 69, 69);
  }

  .scroll-down-indicator {
    background-color: rgb(24, 24, 24);
    border-radius: 50%;
    position: absolute;
    color: white;
    right: 40px;
    bottom: 270px;
    border: 2px solid gray;
  }

  @media (max-width: 990px) {
    .scroll-down-indicator {
      right: 40px;
      bottom: 210px;
    }
  }

  .name-price-holder {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
  }

  .car-price {
    position: absolute;;
    right: 10px;
    -webkit-text-fill-color: rgb(255, 39, 39);
    font-weight: 900;
    font-size: 40px;
  }

  @media (max-width: 700px) {
    .name-price-holder {
      flex-direction: column;
    }
    .car-price {
      position: relative;
    }
  }

  .car-card-body h3 {
    font-size: 30px;
    color: rgb(15, 15, 15);
    font-family: Arial;
    font-weight: 700;
  }

  .seller-info h4{
    font-size: 25px;
    font-weight: bold;
    color: black;
  }

  .detail-icon {
    width: 30px;
    height: 30px;
  }

  .contacts h5 {
    margin: 0;
    font-size: 17px;
  }

  .seller-contact {
    border: none;
    background-color: rgb(0, 119, 255);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 2px 20px;
    font-size: 20px;
    transition: 0.3s;
  }

  .seller-contact:hover {
    background-color: rgb(0, 81, 255);
  }

  .contact-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 246, 250);
    border: 2px solid rgb(139, 139, 139);
    border-radius: 10px;
    max-width: 800px;
    width: 95%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    animation: popUp 0.3s forwards ease-in-out;
  }

  .contact-form h3{
    font-size: 35px;
    font-weight: 700;
    font-family: Arial, sans-serif;
  }

  button#sending-seller-button {
    padding: 5px 40px;
    font-size: 25px;
    font-weight: bold;
    border: white;
    background-color: rgb(9, 93, 219);
    color: #f5f5f5;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.3s;
  }

  button#sending-seller-button:hover {
    box-shadow: 0 0 10px rgb(7, 190, 252);
  }

  .contact-form input{
    width: 90%;
    text-align: center;
    min-width: 300px;
    width: 90%;
    border-radius: 10px;
    height: 40px;
    color: rgb(31, 31, 31);
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(152, 192, 236);
    transition: 0.3s;
  }

  .contact-form textarea{
    width: 90%;
    text-align: left;
    min-width: 300px;
    height: 300px;
    max-height: 300px;
    width: 90%;
    border-radius: 10px;
    color: rgb(31, 31, 31);
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(152, 192, 236);
    transition: 0.3s;
    padding: 10px;
  }

    .hrzntl-line-sel-dtls {
      width: 2px;
      height: 40px;
      background-color: rgb(168, 168, 168);
    }

    .contact-form input:focus, textarea:focus{
      outline: none;
    }

  .contact-form input:hover{
    background-color: #f5f5f5;
    border-color: rgb(98, 138, 248);
  }

  .seller-content h4{
    font-weight: 500;
    font-size: 19px;
  }

  .seller-content h5{
    font-weight: bold;
  }

  .seller-content p{
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 10px;
    border: 3px solid orange;
    width: 250px;
  }

  .sent-message-seller{
    width: 420px;
  }


  @media (max-width: 750px) {
    .contact-form {
      height: 80vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  @media (max-width: 650px) {
    .sent-message-seller {
      width: 350px;
      font-size: 16px;
    }
  }

  div#label-message {
    background-color: rgb(255, 255, 255);
    border: 2px solid darkgray;
    padding: 5px 20px;
    border-radius: 10px;
    animation: fadeInOut 4s forwards ease-in-out;
    position: fixed;
    top: 10%;
    left: 50%;
    max-width: 550px;
    width: 95%;
    transform: translateX(-50%);
  }

  .sent-message-seller p{
    font-size: 18px;
    font-weight: 200;
  }
