.themed-page.light {
    --bg-color: #ffffff;
    --text-color: #000000;
}

.themed-page.dark {
    --bg-color: #121212;
    --text-color:  #ffffff;
}

.themed-page {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    transition: background-color 0.3 ease, color 0.3 ease;
}

h2#ADtitle {
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0px;
}

input#ADinput {
    background-color: rgb(61, 60, 60);
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(122, 191, 248);
    border-radius: 30px;
    -webkit-text-fill-color: white;
    transition: 0.3s;
}
input#ADinput:hover {
    background-color: rgb(34, 34, 34);
    border-color: white;
}

h6#ADforgot-password-link {
    color: var(--text-color);
    transition: 0.3s;
}
h6#ADforgot-password-link:hover {
    color: rgb(0, 110, 255);
}

button#sign-in-button {
    background-image: linear-gradient(to right, rgb(33, 185, 231), rgb(0, 38, 255));
    padding: 0px 40px;
    font-size: 20px;
    border-radius: 30px;
    border: 2px solid rgb(253, 253, 253);
    color: white;
    transition: 0.3s;
    margin-top: 20px
}
button#sign-in-button:hover {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    border-color: rgb(0, 168, 247);
}

button#theme-button{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: none;
    border: none;
    border-radius: 50%;
    padding: 5px;
}
button#theme-button:hover {
    background-color: rgb(187, 185, 185);
}
